* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 800px;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: url(assets/topbarbg.svg) no-repeat;
    background-size: cover;
    height: 65px;
}

.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 14px;
    top: 5px;
}

.tntitle {
    position: absolute;
    top: 9px;
    left: 80px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.topnav ul li {
    float: right;
    list-style-type: none;
    position: relative;
}

.topnav ul li a {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    padding: 17px 25px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.topnav ul li ul {
    display: none;
    right: 0%;
    position: absolute;
    background-color: #fff;
    padding: 8px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 10px 30px rgba(13, 76, 146, 0.5);
}

.topnav ul li:hover ul {
    display: block;
}

.topnav ul li ul li {
    width: 280px;
    border-radius: 8px;
}

.ul-acc {
    width: 178px;
    padding: 15px;
}

.ul-acc li {
    left: 101.5px;
    width: 150px;
    border-radius: 8px;
}

.topnav ul li ul li a {
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 15px;
    color: #0D4C92;
}

.ul-li-acc a {
    width: 130px;
    padding: 15px 40px;
}

.topnav a.active {
    background-color: #68B9E1;
    color: #fff;
}

.topnav ul li a:hover {
    background-color: #ffffff;
    color: #0D4C92;
}

.topnav ul li ul li a:hover {
    background-color: #68B9E1;
    color: #fff;
}

/******************** REQUEST TABLE ************************/

.request-container{
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}

.switchdoc {
    position: fixed;
    margin-top: 2.7em;
    justify-content: center;
    border: 3px solid #68B9E1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btndoc {
    width: 400px;
    height: 50px;
    padding: 1em;
    margin: 0.4em;
    font-size: 15px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #0D4C92;
    color: #fff;
    cursor: pointer;
}

.btndoc:hover {
    background: linear-gradient(90deg, #68B9E1 0%, #59C1BD 100%);
    color: #0D4C92;
    font-weight: bold;
}

.doc-text {
    position: fixed;
    color: #0D4C92;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow: 3px 1px 1px rgba(89, 193, 189, 1);
}

.request-text {
    position: fixed;
    margin-top: 12em;
    color: #0D4C92;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-shadow: 3px 1px 1px rgba(89, 193, 189, 1);
}

.tableview {
    position: fixed;
    align-items: left;
    width: max-content;
    height: 350px;
    margin-top: 21em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.request-table {
    border-collapse: collapse;
    font-size: 0.7em;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.request-table thead tr {
    background-color: #0D4C92;
    color: #ffffff;
    font-size: 13px;
    text-align: left;
    letter-spacing: 1.3px;
    border-radius: 15px 15px 0 0;
}

.request-table th, td {
    padding: 1em 1em;
    text-align: left;
}

.request-table tbody tr {
    font-size: 15px;
    border-bottom: 1px solid #59C1BD;
    cursor: pointer;
}

.request-table tbody tr:hover {
    font-size: 15px;
    border-bottom: 1px solid #59C1BD;
    background: linear-gradient(90deg, #99cde8 0%, #aae7e2 100%);
    cursor: pointer;
}

.request-table tbody tr:nth-of-type(even) {
    background-color: rgb(222, 226, 241, 0.5);
    cursor: pointer;
}

.request-table tbody tr:nth-of-type(even):hover {
    background: linear-gradient(90deg, #99cde8 0%, #aae7e2 100%);
}

.request-table tbody tr:last-of-type {
    border-bottom: 2px solid #0D4C92;
}

/********************** PDF VIEW ***************************/

.pdf-container {
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-right: 1em;
    margin-bottom: 3em;
}

.pdf-border {
    position: relative;
    border: 3px solid #68B9E1;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#pdf-view {
    position: relative;
    width: 816px;
    height: 1056px;
}

#docCOI {
    display: block;
    border-radius: 15px 15px 0 0;
}

#docCOR, #docCOC {
    display: none;
    border-radius: 15px 15px 0 0;
}

input {
    border: none;
    outline: none;
    background: none;
    background-color: none;
    font-family: 'Open Sans', sans-serif;
}

#resname1, #resage1, #resaddress1, #respurpose1, #month1, #day1, #year1, #date1 {
    position: absolute;
    display: block;
    width: 235px;
    height: 20px;
    left: 502px;
    top: 349px;
    text-align: center;
    font-weight: 600;
}

#resage1 {
    width: 32px;
    left: 749px;
    height: 20px;
    
}

#resaddress1 {
    width: 224px;
    height: 20px;
    left: 290px;
    top: 395px;
}

#respurpose1 {
    width: 207px;
    height: 20px;
    left: 431px;
    top: 545px;
}

#month1 {
    width: 111px;
    height: 20px;
    left: 437px;
    top: 581px;
}

#day1 {
    width: 30px;
    height: 20px;
    left: 555px;
    top: 581px;
}

#year1 {
    width: 47px;
    height: 20px;
    left: 597px;
    top: 581px;
}

#date1 {
    width: 72px;
    height: 20px;
    left: 606px;
    top: 761.5px;
    font-size: 10px;
}

#resname2, #resage2, #resaddress2, #stay2, #resname_2, #respurpose2, #month2, #day2, #year2, #date2, #res_name_2 {
    position: absolute;
    display: none;
    width: 227px;
    height: 20px;
    left: 507px;
    top: 292px;
    text-align: center;
    font-weight: 600;
}

#resage2 {
    width: 30px;
    left: 749px;
    height: 20px;
}

#resaddress2 {
    width: 201px;
    height: 20px;
    left: 527px;
    top: 315px;
}

#stay2 {
    width: 47px;
    height: 20px;
    left: 694px;
    top: 338px;
}

#resname_2 {
    width: 219px;
    height: 20px;
    left: 290px;
    top: 420px;
}

#respurpose2 {
    width: 238px;
    height: 20px;
    left: 418px;
    top: 465px;
}

#month2 {
    width: 110px;
    height: 20px;
    left: 440px;
    top: 512px;
}

#day2 {
    width: 30px;
    height: 20px;
    left: 557px;
    top: 512px;
}

#year2 {
    width: 40px;
    height: 20px;
    left: 601px;
    top: 512px;
}

#date2 {
    width: 68px;
    height: 20px;
    left: 607px;
    top: 676px;
    font-size: 10px;
}

#res_name_2 {
    width: 210px;
    height: 20px;
    left: 290px;
    top: 816px;
}

#resname3, #resage3, #resaddress3, #stay3, #respurpose3, #month3, #day3, #year3, #date3, #resname_3 {
    position: absolute;
    display: none;
    width: 235px;
    height: 20px;
    left: 493px;
    top: 301px;
    text-align: center;
    font-weight: 600;
}

#resage3 {
    width: 35px;
    left: 744px;
    height: 20px;
}

#resaddress3 {
    width: 207px;
    height: 20px;
    left: 292px;
    top: 345px;
}

#stay3 {
    width: 47px;
    height: 20px;
    left: 468px;
    top: 368px;
}

#respurpose3 {
    width: 238px;
    height: 20px;
    left: 418px;
    top: 495px;
}

#month3 {
    width: 92px;
    height: 20px;
    left: 440px;
    top: 527px;
}

#day3 {
    width: 40px;
    height: 20px;
    left: 540px;
    top: 527px;
}

#year3 {
    width: 51px;
    height: 20px;
    left: 592px;
    top: 527px;
}

#date3 {
    width: 68px;
    height: 20px;
    left: 606px;
    top: 703px;
    font-size: 10px;
}

#resname_3 {
    width: 210px;
    height: 20px;
    left: 290px;
    top: 832px;
}


#btnsave {
    position: relative;
    display: block;
    width: 816px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 0 0 12.5px 12.5px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    background-color: #0D4C92;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#btnsave:hover {
    background: linear-gradient(90deg, #68B9E1 0%, #59C1BD 100%);
    color: #0D4C92;
    font-weight: bold;
}
.del-btn {
    background: url(assets/del_black.svg) no-repeat;
    background-size: 30px;
    height: 30px;
    width: 30px;
    border: none;
    color:rgb(0, 0, 0,0);
}
.del-btn:hover{
    background: url(assets/del_red.svg) no-repeat;
    background-size: 29px;
    height: 30px;
    width: 30px;
    border: none;
    color:rgb(0, 0, 0,0);
}