* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    overflow: hidden;
}

.leftsection img {
    position: relative;
    display: flex;
    width: 900px;
    height: 50%;
    margin: 5% auto 0% auto;
    top: 70px;
}

.title {
    position: relative;
    width: fit-content;
    height: 53px;
    top: 90px;
    margin: 0% auto 0% auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #161730;
}

.description {
    position: relative;
    width: fit-content;
    height: 23px;
    top: 100px;
    margin: 0% auto 0% auto;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #161730;
}

form {
    position: relative;
    width: max-content;
    height: max-content;
    margin: 23% auto 0% auto;
    background: rgb(255, 255, 255, 0.3);
    outline: solid #0D4C92;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 2em;
}

h2 {
    text-align: center;
    letter-spacing: 1.5px;
    color: #0D4C92;
    font-size: 30px;
    padding: 1em;
}

.input-user, .input-pass {
    display: flex;
    border: 2px solid #ccc;
    width: 25em;
    padding: 1em 0.9em 0.9em 0.9em;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    outline: solid #0A93E3;
    outline-width: 1.9px;
    padding-left: 40px;
    font-size: 15px;
}

.input-user{
    background: url(assets/ic_username.svg) no-repeat;
    background-size: 25px;
    background-color: rgb(255, 255, 255, 0.5);
    background-position: 8.5px 13px;
}

.input-pass{
    background: url(assets/ic_password.svg) no-repeat;
    background-size: 30px;
    background-color: rgb(255, 255, 255, 0.5);
    background-position: 6px 11px;
}

label {
    color: black;
    font-size: 18px;
}

.btn-login {
    display: flex;
    background: #0D4C92;    
    padding: 1em;
    color: #fff;    
    width: 50%;
    height: 3.5em;
    border-radius: 15px;
    font-size: 15px;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5% auto 0% auto;
    transition: background .3s ease-in-out; 
}

.btn-login:hover {
    background: linear-gradient(90deg, #0D4C92  0%, #3dafaa 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    letter-spacing: 1.5px;
}

.error {
    background: #68B9E1;
    color: #fff;
    padding: 10px;
    width: 22em;
    border-radius: 5px;
    margin: 20px auto;
}