* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    overflow: hidden;
}

.leftsection img {
    position: relative;
    display: flex;
    width: 900px;
    height: 50%;
    margin: 5% auto 0% auto;
    top: 70px;
}

.title {
    position: relative;
    width: fit-content;
    height: 53px;
    top: 90px;
    margin: 0% auto 0% auto;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #161730;
}

.description {
    position: relative;
    width: fit-content;
    height: 23px;
    top: 100px;
    margin: 0% auto 0% auto;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #161730;
}

/**************** RIGHT SECTION ******************/

.rightsection {
    position: relative;
    width: max-content;
    height: max-content;
    margin: 17% auto 0% auto;
    background: rgb(255, 255, 255, 0.3);
    outline: solid #0D4C92;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px 0;
}

h2 {
    color: #0D4C92;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em 0.8em 0em 0.8em;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0.4em;
}

.user-input{
    display: block;
    padding: 0.3em 3em 0.5em 3em;
}

.input-rin, .input-name {
    height: 25px;
    width: 200px;
    outline: 2px solid #0A93E3;
    border: none;
    border-radius: 6px;
    padding: 1.5em;
    margin-top: 1.5em;
    font-size: 15px;
}

.input-name {
    width: 260px;
    background: url(assets/ic_person.svg) no-repeat;
    background-color: rgb(255, 255, 255, 0.5);
    background-size: 17px;
    background-position: 5px;
    padding-left: 2.1em;
}

.input-rin {
    background: url(assets/ic_hash.svg) no-repeat left;
    background-color: rgb(255, 255, 255, 0.5);
    background-size: 17px;
    padding-left: 2.1em;
    background-position: 5px;
}

form {
    font-size: 18px;
}

.select-doc {
    margin: 0.8em 0 1.5em 3em;
}

.choose-purpose {
    display: block;
    padding-left: 3em;
    margin-top: 1em;
}

.choose-purpose select {
    width: 335px;
    height: 45px;
    margin-top: 0.5em;
    font-size: 16px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 8px;
    outline: 2px solid #0A93E3;
    border: none;
}

.choose-purpose select:hover {
    background: rgb(255, 255, 255);
}

.select-doc {
    display: block;
    margin-top: 1em;
}

.select-doc input {
    font-size: 20px;
}

.rdCOR .rdCOR .rdCOC label {
    margin-top: 1em;
}

.btn-send {
    position: relative;
    display: flex;
    width: 200px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 1em;
    background: #0D4C92;
    transition: background .3s;
    cursor: pointer;
    padding: 0.9em 0 0.6em 0;
    align-items: center;
    justify-content: center;
    margin: 0% auto 0% auto;
    font-size: 15px;  
}

.btn-send:hover {
    background: linear-gradient(90deg, #0D4C92  0%, #3dafaa 100%);
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    color: #0D4C92;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.link:hover {
    color: #161730;
}

.error {
    background: #68B9E1;
    color: #fff;
    padding: 5px 5px 5px 10px;
    width: 23em;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 15px;
}

label {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #0D4C92;
}

