* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.leftsection img {
    position: absolute;
    width: 350px;
    height: 50%;
    left: 180px;
    top: 70px;
}

.title {
    position: absolute;
    width: 540px;
    height: 53px;
    left: 90px;
    top: 470px;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    color: #161730;
}

.description {
    position: absolute;
    width: 446px;
    height: 23px;
    left: 137px;
    top: 530px;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #161730;
}

/**************** RIGHT SECTION ******************/

.rightsection {
    position: relative;
    width: max-content;
    height: max-content;
    margin-left: 4%;
    background: rgb(255, 255, 255, 0.3);
    outline: solid #0D4C92;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px 0;
    margin-top: 7em;
    margin-left: 5em;
}

h2 {
    color: #0D4C92;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em 0.8em 0em 0.8em;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0.4em;
}

.user-input{
    display: block;
    padding: 0.3em 3em 0.5em 3em;
}

.input-rin, .input-name {
    height: 25px;
    width: fit-content;
    outline: 2px solid #0A93E3;
    border: none;
    border-radius: 6px;
    padding: 0.3em 0.8em 0.1em 0.6em;
    background: none;
    margin-top: 1.5em;
}

.input-name {
    margin-left: 4em;
    background: url(assets/ic_person.svg) no-repeat;
    background-size: 17px;
    background-position: 5px 2.3px;
    padding-left: 2.1em;
}

.input-rin {
    background: url(assets/ic_hash.svg) no-repeat left;
    background-size: 17px;
    padding-left: 2.1em;
    background-position: 5px;
}

form {
    font-size: 18px;
}

.select-doc {
    margin: 0.8em 0 1.5em 3em;
}

.choose-purpose {
    display: block;
    padding-left: 3em;
    letter-spacing: 1px;
}

.choose-purpose label {
    font-weight: bold;
    color: #0D4C92;
}

.choosedocument{
    display: flex;
    color:#0D4C92;
    font-weight: bold;
}

.rdCOR .rdCOR .rdCOC label {
    margin-top: 1em;
}

.btn-send {
    position: relative;
    width: 160px;
    color: #ffffff;
    border: none;
    border-radius: 1.5em;
    background: #0D4C92;
    transition: background .3s;
    cursor: pointer;
    padding: 0.9em 0 0.6em 0;
    margin: 0 0 1.5em 10em;    
}

.link {
    position: relative;
    margin-left: 10em;
}

.error {
    background: #68B9E1;
    color: #fff;
    padding: 5px 5px 5px 10px;
    width: 23em;
    border-radius: 5px;
    margin: 5px auto;
    font-size: 15px;
}

