@import url("props_resets.css");

/* GENERAL STYLING*/
body {
    font-family: var(--ff-body);
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#splash {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    margin: 3em auto 0 auto;
    z-index: 100;
    overflow: hidden;
}

.imglogo {
    width: 100%;
    max-width: 400px;
    padding: 2em;
    margin-inline: auto;
}

#title {
    padding: 0 2em;
    margin-inline: auto;
    text-align: center;
    color: var(--clr-primary-400);
}

.load {
    width:100%;
    position: absolute;
    bottom: 0;
}

.loading {
    max-width: 70px;
    position: relative;
    display: block;
    margin: 2em auto;
}

/* MEDIA/COINTAINER QUERIES */
@media (min-width: 50em) {
    :root {
      --fs-primary-heading: var(--fs-800);
    }
}

@media (max-width: 50em) {
    .imglogo {
        max-width: 350px;
    }

    .loading {
        max-width: 60px;
    }
}

@media (max-width: 28.125em) {
    :root {
      --fs-primary-heading: var(--fs-650);
    }
}

@media (max-width: 20em) {
    :root {
      --fs-primary-heading: var(--fs-500);
    }
}

/* UTILITIES */
.fw-bold { 
    font-weight: var(--fw-bold); 
}
.fw-semi-bold { 
    font-weight: var(--fw-semi-bold); 
}
.fw-regular { 
    font-weight: var(--fw-regular); 
}
  
.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}