* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background: url(assets/bg.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: url(assets/topbarbg.svg) no-repeat;
    background-size: cover;
    height: 65px;
}

.logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 14px;
    top: 5px;
}

.tntitle {
    position: absolute;
    top: 9px;
    left: 80px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.topnav ul li {
    float: right;
    list-style-type: none;
    position: relative;
}

.topnav ul li a {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    padding: 17px 25px;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.topnav ul li ul {
    display: none;
    right: 0%;
    position: absolute;
    background-color: #fff;
    padding: 8px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 10px 30px rgba(13, 76, 146, 0.5);
}

.topnav ul li:hover ul {
    display: block;
}

.topnav ul li ul li {
    width: 280px;
    border-radius: 8px;
}

.ul-acc {
    width: 178px;
    padding: 15px;
}

.ul-acc li {
    left: 101.5px;
    width: 150px;
    border-radius: 8px;
}

.topnav ul li ul li a {
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 15px;
    color: #0D4C92;
}

.ul-li-acc a {
    width: 130px;
    padding: 15px 40px;
}

.topnav a.active {
    background-color: #68B9E1;
}

.topnav ul li a:hover {
    background-color: #ffffff;
    color: #0D4C92;
}

.topnav ul li ul li a:hover {
    background-color: #68B9E1;
    color: #fff;
}

/**********************************************************/

h2{
    font-size: 40px;
    text-align: center;
    color: #1074b8;
    text-shadow: 3px 1px 1px rgb(255, 255, 255);
}

.container{
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}
.tableview {
    height: 650px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
}
.content-table{
    border-collapse: collapse;
    font-size: 1em;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: cornflowerblue;
    color: #ffffff;
    text-align: left;
}
.content-table th, td {
    padding: 1em 1em;
    text-align: left;
}

.content-table tbody tr{
    border-bottom: 1px solid rgba(35, 50, 184, 0.5);
}

.content-table tr:nth-of-type(even) {
    background-color: rgba(46, 77, 216, 0.1);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(35, 50, 184, 0.5);
}
.new-btn {  
    display: grid;
    position: absolute;
    height: 40px;
    width: 150px;
    color: #ffffff;
    background-color: #0651dd;
    border-radius: 5px 5px 5px 5px;
    place-items: center;
    text-decoration: none;
    
}
.new-btn:hover{
    color: #ffffff;
    background-color: rgb(12, 129, 51);
}

.new-btn{  
    color: #ffffff;
    background-color: #0651dd;
    border-radius: 3px 3px 3px 3px;
    place-items: center;
    text-decoration: none;
}
.new-btn:hover{
    color: #ffffff;
    background-color: #ee513c;
}
